@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,400;1,500 & display=swap');

/* Reseteo - selector universal */
* {
    margin: 0;
    padding: 0;
    /* border: 2px solid black; */
}

/* style  */


a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    background-color: rgba(0, 0, 0, 0.918);
}

footer section div a img {
    width: 40%;
}

.h1 {
    text-align: center;
    margin: 5px;
}

h2 {
    text-align: center;
}




/* class */

/* navegacion */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    min-height: 20vh;
    flex-wrap: wrap;
}

.header img {
    width: 120px;

}

.ul-flex {
    display: flex;

}

.nav-flex ul {
    display: flex;
    list-style: none;
    width: 35vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.falso-body {
    background-color: rgb(156, 12, 12);
}




/* main */

.center {
    text-align: center;
}

.main-inicio {
    min-height: 70vh;
    background-color: rgba(187, 28, 28, 0.836);
    color: rgb(255, 255, 255);

}


.main-inicio img {
    width: 100%;
}



/* main carrusel */
.carrusel {
    width: 50%;
    margin: auto;
}

/* inicia main de productos */

.main-insumos {
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}


.main-insumos button {
    display: flex;
    height: 50px;
    width: 100px;
    justify-content: space-around;
}

.main-insumos div {
    max-width: 250px;
}



.tintas {
    flex-direction: column;
    display: flex;
    height: 250px;
    margin: 10px;
    padding-bottom: 20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

/* cierra main de productos */

.main-conocenos {
    min-height: 70vh;
}

.main-conocenos p {
    max-width: 650px;
    margin: auto;
    padding: 15px;
}



.main-informate {
    min-height: 70vh;
}

.sec-informate {
    box-sizing: border-box;
    border: 1px solid rgb(10, 10, 10);
    background-color: rgb(223, 127, 127);
}

.tintas-informate h2 {
    font-size: 30px;

}

.tintas-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.tintas-div p {
    max-width: 650px;
    margin: auto;
}

.p-flex {
    display: flex;
}


.agujas-class {
    display: flex;
    flex-direction: column;
}

.agujas-class img {
    width: 600px;
}

.section-img {
    display: flex;
    width: 600px;
    height: 430px;
    margin: auto;

}

.section-img img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.section-img img:hover {
    cursor: crosshair;
    width: 430px;
    opacity: 1;
    filter: contrast(120%);

}





.main-contacto {
    min-height: 70vh;
}

.main-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}



/* footer */

.footer {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 10px;
    min-height: 10vh;
    width: 100%;
}

.redes {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.soporte {
    display: flex;
    /* justify-content: flex-end;
    flex-wrap: wrap; */
    padding: 10px;
}

.soporte p {
    display: flex;
    margin: 0 10px;
}

.redes div {
    display: flex;
    padding: 10px;
    border-radius: 50%;
}

.terminos {
    display: flex;
    flex-wrap: wrap;
}

.terminos p {
    display: flex;
    margin: 0 10px;
}


/* contactos - form */

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid rgb(10, 10, 10);
}

input:focus,
textarea:focus {
    border-color: rgb(0, 0, 0);
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}



/* mobile-last = max-width */

@media (max-width: 576px) {
    .header {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .footer {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .tintas-div {
        padding: 5px;
        font-size: 20px;
    }


    .section-img {
        width: 370px;
        height: 400px;
        padding: 10px;

    }

}